*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
    font-size: 62.5%; 
}

body {
box-sizing: border-box;
background-image: linear-gradient(to right bottom, rgba(184, 140, 105, 0.938), #724b1fe5), url("../../img/about.jpg");
background-size: cover;
height: 100vh;
font-family: 'Lato', sans-serif;
  font-weight: 400;
} 

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-5rem); }
  80% {
    transform: translatex(1rem); }
  100% {
    opacity: 1; } }

@keyframes moveInRight {
 0% {
   opacity: 0;
  transform: translatex(5rem); }
  80% {
  transform: translatex(-1rem); }
  100% {
  opacity: 1; } }


.header__text {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;

&--h1{
  font-size: 8rem;
  letter-spacing: 3.5rem;
  text-transform: uppercase;
  font-weight: 100;  
  background-clip: text; 
  -webkit-background-clip: text;
  color: transparent;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  display: block;
  color: #fff;
}
&--p{
  margin-top: 2rem;
  font-size: 2rem;  
  line-height: 3.5rem;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  color: #fff;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
}



#gitPic {
  height: 5rem;
  position: absolute;
  bottom: 2%;
  left: 2%;
  z-index: -1;
}

#linPic {
  height: 7rem;
  position: absolute;
  bottom: 0.4%;
  left: 6%;
  z-index: -1;
}

#copyText {
  position: absolute;
  bottom: 0.4%;
  right: 2%;
  font-size: 2rem;
}

#gitPic:hover, #linPic:hover {
  transform: translateY(-1rem);
  transition: .3s;
}

.wallet {
&__background {
  padding: 15rem 13rem;
  background-image: linear-gradient(to right bottom, rgba(241, 197, 114, 0.938), #582f00d9), url("../img/background.jpg");
  width: 30%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  box-shadow: 2rem 2rem 2rem 2rem rgba(0, 0, 0, .5);
}

  
  &__cards{
    width: 25%;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
 
  &--1, &--2, &--3, &--4{
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-bottom: 2px solid #000000;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-top: 1.5rem;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.938), #a5a5a5d9);

  &-text{
    text-transform: uppercase;
    left: 40%;
    font-size: 1.5rem;
  }
    &:hover{
    padding: 1.5rem 2.5rem 2.5rem 2.5rem;
    }
  }
  }
}

  #btn, #btn1, #btn2, #btn3 {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 0.5rem;
    border-radius: 0rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    visibility: hidden;
    display: none;
    color: #000000;
    background-color: rgb(187, 185, 185);
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, .5);
    
    &:hover{
      transform: translatey(-0.5rem);
    }
    &:active{
      transform: translatey(0.5rem);
    }
  }

  #cards__animation {
    padding: 9rem 7.5rem 9rem 7.5rem;
    border-bottom: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    animation-name: wallet__out;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    
    &:hover{
      padding: 8rem 7.5rem 8rem 7.5rem;
      cursor: auto;
      margin-top: 1.5rem;
      transform: scale(1.2);
      }
  }

  #cards__grid {
    display: inline-grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-evenly;
    width: 100%;
    top: initial;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
#text_margin{
  margin-bottom: 15%;
}

@keyframes wallet__out{
  0% {
    transform: translateY(-15rem);
    position: absolute;
    left: 40%;
  }


 100% {
  transform: translateY(-15rem);
  position: absolute;
  left: 40%;
 }
}

.darkness {
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  z-index: 10;
}

.popup__first {
  //display: none;
  //visibility: hidden;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  height: 60vh;
  width: 75%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 185, 185);

  &--down{
    align-self: start;
    margin-top: 3rem;
  }
  &--h1-about{
    font-size: 3rem;text-transform: uppercase;
    margin-bottom: 2rem;
  }
  &--span-text{
    font-size: 1.6rem;
  }
  &--up {
height: 60vh;
width: 75vh;
background-image: linear-gradient(to right bottom, rgba(184, 140, 105, 0.938), #724b1fe5), url("../../img/about.jpg");
background-size: cover;
background-position: center;
clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%)
  }
  &--down{
    text-align: center;
  }
}

 

